@use '@/styles/colors' as *;

.modelCanvas {
  background-color: $bg;
  aspect-ratio: 16 / 9;
  flex: 1;
  width: 70%;
  display: flex;
  flex-shrink: 0;
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modelPreview {
  height: 100%;
  width: auto;
}

.printButtonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dimensionsButtonWrapper {
  position: absolute;
  right: 0;
  top: 0;
}
