@use '@/styles/colors' as *;

.buttonSwitchDimensions {
  padding: 8px;
  font-size: 16px;
  color: $white;
  cursor: pointer;
  background-color: $primary;
  border: none;
  border-bottom-left-radius: 12px;
  transition: border-bottom-left-radius 0.4s;

  &:hover {
    border-bottom-left-radius: 6px;
  }
}
