@use '@/styles/colors' as colors;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: colors.$white;
  border: 1px solid colors.$lightgray;
  border-radius: 50%;
}
