@use '@/styles/colors' as colors;

.inputSearch {
  display: block;
  width: 240px;
  padding: 14px 0;
  font-size: 12px;
  color: colors.$black;
  text-align: center;
  background-color: colors.$white;
  border: 1px solid colors.$lightgray;
  border-radius: 9999px;

  &::placeholder {
    color: colors.$black;
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
  }
}
